<section>
  <div class="lunbo">
    <div class="filter">
      <div>
        <button type="button" class="button" >课程分类<span class="caret"></span></button>
        <ul class="classify">
          <li><a href="#">web前端开发</a></li>
            <li><a href="#">web后端开发</a></li>
            <li><a href="#">移动应用开发</a></li>
            <li><a href="#">软件测试</a></li>
            <li><a href="#">数据库</a></li>
            <li><a href="#">基础知识&实用工具</a></li>
            <li><a href="#">网络&操作系统</a></li>
            <li><a href="#">软件设计&系统架构</a></li>
            <li><a href="#">产品设计</a></li>
        </ul>
      </div>
      <div>
          <button type="button" class="button">课程体系<span class="caret"></span></button>
          <ul class="classify">
              <li><a href="#">计算机基础技能</a></li>
              <li><a href="#">web前端工程师</a></li>
              <li><a href="#">Android开发工程师</a></li>
              <li><a href="#">MySQL数据库工程师</a></li>
              <li><a href="#">产品设计</a></li>
              <li><a href="#">软件测试工程师</a></li>
              <li><a href="#">全部体系</a></li>
          </ul>
          </div>
    </div>
        <div class="course">
          <ul>
            <li *ngFor="let course of course" class="cour">
              <a href="#" class="card"  [routerLink]="['/course',course.id]">
                <img src="{{course.images}}" class="img">
                <h5 class="heading">{{course.courseName}}</h5>
                <div class="content">
                  <span>{{course.content}}</span>
                </div>
                <div class="action">
                  <span> 课时 {{course.classHour}}</span>
                  <span class="pull">人数 {{course.person}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
  <footer>
    <nav>
      <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
    
      </ul>
    </nav>
  </footer>
  <footer class="footer">
    <div class="container">
        <span>© 2015-2018 雪梨教育 石家庄佳诚网络技术有限公司版权所有 冀ICP备12011972号-4</span>
    </div>
  </footer>
</section>