<header class="header">
  <div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button">
            <span class="aa">切换导航</span>
            <span class="tubiao"></span>
            <span class="tubiao"></span>
            <span class="tubiao"></span>
          </button>
          <a href="#">
            <img src="../../../assets/images/logo.png" class="brand">
          </a>
        </div>

        <div>
          <ul>
            <li><a href="#" [routerLink]="['/home']">首页</a></li>
            <li><a href="#" [routerLink]="['/lesson']">同步课</a></li>
            <li><a href="#" [routerLink]="['/course']">课程</a></li>
            <li><a href="#" [routerLink]="['/community']">社区</a></li>
            <form class="navbar-form navbar-left">
              <div class="form-group ">
                <input type="text" class="control " placeholder="输入同步课名称搜索">
              </div>
              <button type="submit" class="souxun">
              </button>
            </form>

            <li class="dropdown">
              <a href="#"</a>
            </li>

            <li class="dropdown">
              <a href="#"</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</header>