<!-- <div class="left">
  <ul>
    <li><a [routerLink]=""></a></li>
    <li><a [routerLink]=""></a></li>
    <li><a [routerLink]=""></a></li>
    <li><a [routerLink]=""></a></li>
  </ul>
</div>
<div class="right">
  <router-outlet></router-outlet>左侧不变右侧变化 -->
<!-- </div> -->
<section>
  <div class="container">
    <div class="index">
        <div class="menuwrap">
          <div class="menu">
              <a class="intro">
                <span class="user"></span>
              </a>
            </div>
            <div class="name">{{userName}}</div>
            <div class="fans">
              <a href="#">
                <span style="font-size:1.6em;">{{FansCount}}</span>
                <span>粉丝</span>
              </a>
              <a href="#">
                <span style="font-size:1.6em;">{{FollowCount}}</span>
                <span>关注</span>
              </a>
            <div class="item item-hover">任务</a></div>
            <div class="item"><a href="#">同步课</a></div>
            <div class="item"><a href="#">课程</a></div>
            <div class="item"><a href="#">且说</a></div>
            <div class="item"><a href="#">通知</a></div>
          </div>
        </div>
          <ul class="header">
            <li class="active">
              <a href="#">
                未提交<span class="count">{{UnsubmittedCount}}</span>
              </a>
            </li>
            <li>
              <a href="#">已完成</a>
            </li>
            <li>
              <a href="#">已完结</a>
            </li>
          </ul>
          <form class="right">
            <div class="group">
              <input type="text" class="control " placeholder="输入同步课名称搜索">
            </div>
            <button type="submit" class="souxun">
            </button>
          </form>
          <div class="content">您当前的同步课任务已全部完成</div>
    </div>
  </div>
</section>